
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Game Schedule</title>
</head>
<body>

<div class="container">
  <h1>Game Schedule</h1>
  {% for game in games %}
  <div class="game">
    <h2>Game Time Start: {{ game.StartTime }}; Game Period: {{ game.Period }}</h2>
    <p>Game: {{ game.AwayTeam }} @ {{ game.HomeTeam }}: {{ game.AwayTeamScore }} - {{ game.HomeTeamScore }}</p>
  </div>
  {% endfor %}
</div>

</body>
</html>